{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} Подтверждение телефона {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

    <section class="contact-section spad" style="margin: 60px 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-xl-4 col-lg-5 col-md-6 my-form-style">
                    <div class="col-6" style="margin-bottom: 20px; padding: 0;">
                        <a href="{% url 'signup' %}" style="color: #dd1515; font-size: 14px;"><i class="fa fa-chevron-left"></i> Назад</a>
                    </div>
                    <div class="contact-form-area">
                        <h2 style="text-align: center; color: #929292; font-weight: 300; margin-bottom: 30px;">Подтверждение</h2>
                        <form method="post">
                            <div class="group-in">
                                {% csrf_token %}

                                {% if forms.code.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.code.errors }}
                                </div>
                                {% endif %}

                                {% render_field form.code class="form-control" placeholder="Введите код..." style="margin-bottom: 30px;" maxlength="5" minlength="5" %}

                            </div>
                            <div class="row justify-content-center">
                            <button type="submit" class="btn crose-btn">Принять</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
