{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} Вход {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

<section class="contact-section spad" style="margin: 60px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-xl-4 col-lg-5 col-md-6 my-form-style">
                <div class="col-6" style="margin-bottom: 20px; padding: 0;">
                    <a href="{% url 'home' %}" style="color: #dd1515; font-size: 14px;"><i class="fa fa-chevron-left"></i> Назад</a>
                </div>
                <div class="contact-form-area">
                    <h2 style="text-align: center; color: #929292; font-weight: 300; margin-bottom: 30px;">Вход</h2>
                    <form method="post">
                        <div class="form-group">
                            {% csrf_token %}

                            {% if forms.username.errors %}
                            <div class="alert alert-danger">
                                {{ forms.username.errors }}
                            </div>
                            {% endif %}

                            {% render_field forms.username class="form-control" placeholder="Логин" style="margin-bottom: 30px;" maxlength="50" minlength="1" %}

                            {% if forms.password.errors %}
                            <div class="alert alert-danger">
                                {{ forms.password.errors }}
                            </div>
                            {% endif %}

                            {% render_field forms.password class="form-control" placeholder="Пароль" style="margin-bottom: 30px;" maxlength="30" minlength="5" %}

                        </div>
                        <div class="row justify-content-center">
                        <button type="submit" class="btn crose-btn">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-6" style="margin-top: 45px;">
                        <a href="{% url 'forgot_password' %}" style="color: #dd1515; border-bottom: 1px solid #dd1515; font-size: 14px;">Забыли пароль?</a>
                    </div>
                    <div class="col-6" style="text-align: right; margin-top: 45px;">
                        <a href="{% url 'signup' %}" style="color: #dd1515; border-bottom: 1px solid #dd1515; font-size: 14px;">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}