{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} Регистрация закрыта {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

<div class="container-fluid text-center">
    <h1 style="color: #ee1c25; margin: 100px;">Регистрация закрыта</h1>
</div>
{% endblock content %}