{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} Регистрация {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

    <section class="contact-section spad" style="margin: 60px 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-xl-4 col-lg-5 col-md-6 my-form-style">
                    <div class="col-6" style="margin-bottom: 20px; padding: 0;">
                        <a href="{% url 'home' %}" style="color: #dd1515; font-size: 14px;"><i class="fa fa-chevron-left"></i> Назад</a>
                    </div>
                    <div class="contact-form-area">
                        <h2 style="text-align: center; color: #929292; font-weight: 300; margin-bottom: 30px;">Регистрация</h2>
                        <form method="post">
                            <div class="form-group">
                                {% csrf_token %}

                                {% if forms.username.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.username.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.username class="form-control" placeholder="Логин" style="margin-bottom: 30px;" maxlength="50" minlength="1" %}

                                {% if forms.first_name.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.first_name.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.first_name class="form-control" placeholder="Имя" maxlength="25" %}

                                {% if forms.last_name.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.last_name.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.last_name class="form-control" placeholder="Фамилия" maxlength="25" %}

                                {% if forms.phone.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.phone.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.phone class="form-control" placeholder="Телефон: 87776668899" type="tel" maxlength="11" minlength="11" pattern="[0-9]{11}" %}


                                {% if forms.password1.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.password1.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.password1 class="form-control" placeholder="Пароль" style="margin-bottom: 30px; margin-top: 30px;" maxlength="30" minlength="5" %}

                                {% if forms.password2.errors %}
                                <div class="alert alert-danger">
                                    {{ forms.password2.errors }}
                                </div>
                                {% endif %}

                                {% render_field forms.password2 class="form-control" placeholder="Подтверждение пароля" style="margin-bottom: 30px;" maxlength="30" minlength="5" %}

                            </div>
                            <div class="row justify-content-center">
                            <button type="submit" class="btn crose-btn">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                    <div class="row text-center">
                        <div class="col-12" style="margin-top: 30px;">
                            <a href="{% url 'signin' %}" style="color: #dd1515; border-bottom: 1px solid #dd1515; font-size: 14px;">Уже зарегистрированы?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
