/* :: 10.0 Sermons Area CSS */
.single-latest-sermons {
  position: relative;
  z-index: 1; }
  .single-latest-sermons .sermons-thumbnail {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .single-latest-sermons .sermons-thumbnail img {
      border-radius: 5px; }
    .single-latest-sermons .sermons-thumbnail .sermons-date {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
      width: 80px;
      height: 80px;
      border-radius: 5px;
      position: absolute;
      left: 20px;
      bottom: -15px;
      background-color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .single-latest-sermons .sermons-thumbnail .sermons-date {
          width: 60px;
          height: 60px; } }
      .single-latest-sermons .sermons-thumbnail .sermons-date h6 {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        text-align: center;
        font-weight: 600;
        color: #636363; }
        .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          display: block;
          font-size: 36px;
          font-weight: 700;
          color: #1f1f2c; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
              font-size: 30px; } }
          @media only screen and (max-width: 767px) {
            .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
              font-size: 24px; } }
  .single-latest-sermons .sermons-content {
    position: relative;
    z-index: 1;
    margin-top: 40px; }
    .single-latest-sermons .sermons-content .sermons-cata {
      margin-bottom: 15px; }
      .single-latest-sermons .sermons-content .sermons-cata a {
        color: #959595;
        display: inline-block;
        margin-right: 20px; }
        .single-latest-sermons .sermons-content .sermons-cata a:hover {
          color: #ee1c25; }
    .single-latest-sermons .sermons-content h4 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0; }
    .single-latest-sermons .sermons-content .sermons-meta-data {
      margin-top: 20px; }
      .single-latest-sermons .sermons-content .sermons-meta-data p {
        margin-bottom: 5px;
        color: #959595; }
        .single-latest-sermons .sermons-content .sermons-meta-data p:last-child {
          margin-bottom: 0; }
        .single-latest-sermons .sermons-content .sermons-meta-data p i {
          width: 15px;
          color: #ee1c25; }
        .single-latest-sermons .sermons-content .sermons-meta-data p span {
          font-style: italic;
          color: #636363; }
  .single-latest-sermons:hover .sermons-thumbnail .sermons-date {
    bottom: 20px;
    background-color: #ee1c25; }
    .single-latest-sermons:hover .sermons-thumbnail .sermons-date h6 {
      color: #ffffff; }
      .single-latest-sermons:hover .sermons-thumbnail .sermons-date h6 span {
        color: #ffffff; }

.sermons-content h4 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.sermons-content h4:hover {
    color: #c92f2f;
}


.pagination-area {
  position: relative;
  z-index: 1; }
  .pagination-area .pagination {
    position: relative;
    z-index: 1; }
    .pagination-area .pagination .page-item .page-link {
      width: 40px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #ebebeb;
      border-radius: 2px;
      text-align: center;
      color: #636363;
      padding: 0;
      margin: 0 5px;
      font-size: 16px; }
      .pagination-area .pagination .page-item .page-link:hover, .pagination-area .pagination .page-item .page-link:focus {
        color: #ffffff;
        border-color: #ee1c25;
        background-color: #ee1c25; }
    .pagination-area .pagination .page-item.active .page-link {
      color: #ffffff;
      border-color: #ee1c25;
      background-color: #ee1c25; }


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post-sidebar-area {
    margin-top: 100px; } }
@media only screen and (max-width: 767px) {
  .post-sidebar-area {
    margin-top: 100px; } }


    /* :: 22.0 Contact Area CSS */
.contact-content-area {
  margin: 50px 0;
  padding: 30px;
  top: -100px;
  background-color: #ffffff; }
  .contact-content-area .contact-content {
    position: relative;
    z-index: 2;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .contact-content-area .contact-content {
        margin-bottom: 50px; } }
    .contact-content-area .contact-content h4 {
      font-weight: 600;
      margin-bottom: 15px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .contact-content-area .contact-content h4 {
          font-size: 18px; } }
    .contact-content-area .contact-content p {
      color: #636363;
      font-size: 14px;
      margin-bottom: 5px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .contact-content-area .contact-content p {
          font-size: 12px; } }
      .contact-content-area .contact-content p:last-child {
        margin-bottom: 0; }
    .contact-content-area .contact-content::after {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #d2d2d5;
      content: '';
      right: -15px;
      top: 0;
      z-index: 10; }
      @media only screen and (max-width: 767px) {
        .contact-content-area .contact-content::after {
          display: none; } }
  .contact-content-area .col-12:last-child .contact-content::after {
    display: none; }
  .contact-content-area .col-12:last-child .contact-content:last-child {
    margin-bottom: 0; }

.how-become-link {
    color: #ee1c25;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.how-become-link:hover {
    color: #797979;
}