{% load static %}

<!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>О нас</h6>
            <p>Региональная общественная организация «Федерация автомобильного и мотоциклетного спорта Республики Дагестан» – это сообщество любителей активной езды на специальных выделенных под эти цели трассах.
Основная деятельность Федерации развитие автомобильного и мотоциклетного спорта в Республике Дагестан и за ее пределами, а также развитие автомобильного и мотоциклетного туризма Республики Дагестан.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Быстрые Ссылки</h6>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="{% url 'home' %}">Главная</a></li>
                  <li><a href="{% url 'federation' %}">О федерации</a></li>
                  <li><a href="{% url 'news' %}">Новости</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><a href="{% url 'race_kinds' %}">Участникам</a></li>
                  <li><a href="{% url 'sponsors' %}">Спонсорство</a></li>
                  <li><a href="{% url 'partners' %}">Партнёрство</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">В интернете</h6>
            <ul class="instafeed d-flex flex-wrap">
              <li><a href="https://www.youtube.com/channel/UCarlt2RaIkCiQpxDIzkUlfg" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
              <li><a href="https://instagram.com/fams_rd" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
              <li><a href="https://facebook.com/famsrd/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" style="color: #ffffff">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
<!--          <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">-->
<!--            <a href="https://www.youtube.com/channel/UCarlt2RaIkCiQpxDIzkUlfg"><i class="fab fa-youtube"></i></a>-->
<!--            <a href="https://instagram.com/fams_rd"><i class="fab fa-instagram"></i></a>-->
<!--            <a href="https://facebook.com/famsrd/"><i class="fab fa-facebook-f"></i></a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->