{% load static %}

<!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="" style="width: 200px;"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
                <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">О федерации</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#about">О нас</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#members">Структура</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#judges">Судьи</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#gallery">Галерея</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#documents">Документы</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'federation' %}#contacts">Контакты</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'news' %}">Новости</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Участникам</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'race_kinds' %}">Мероприятия</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'race_kinds' %}#how-become-racer">Стать участником</a></li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Спонсорство</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'sponsors' %}">Наши спонсоры</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'sponsors' %}#how-become-sponsor">Стать спонсором</a></li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Партнёрство</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Наши партнеры</a>
                  <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}#how-become-partner">Стать партнером</a>
                </ul>
              </li>
            </ul>

<!--            <ul class="nav-right text-center text-lg-right py-4 py-lg-0">-->
<!--              <li><a href="#">Вход</a></li>-->
<!--              <li><a href="#">Регистрация</a></li>-->
<!--            </ul>-->
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->