{% extends 'base.html' %}

{% load static %}

{% block title %} О федерации {% endblock title %}

{% block description %}{% endblock description %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/my-style.css' %}">
{% endblock css %}

{% block content %}

  <!--================ Join section Start =================-->
  <section class="section-margin" id="about">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">О федерации</h2>
        <img src="img/home/section-style.png" alt="">
      </div>

      <div class="d-lg-flex justify-content-center">
        <div class="card-feature mb-5 mb-lg-0" style="max-width: 100%">
          <h3></h3>
          <p style="font-size: 18px; font-weight: 300;">Региональная общественная организация «Федерация автомобильного и мотоциклетного спорта Республики Дагестан» – это сообщество любителей активной езды на специальных выделенных под эти цели трассах.
Основная деятельность Федерации развитие автомобильного и мотоциклетного спорта в Республике Дагестан и за ее пределами, а также развитие автомобильного и мотоциклетного туризма Республики Дагестан.</p>
        </div>

      </div>
    </div>
  </section>
  <!--================ Join section End =================-->

<!--================ Speaker section Start =================-->
  <section class="speaker-bg section-padding" id="members">
    <div class="container">
      <div class="section-intro section-intro-white text-center pb-98px">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Структура федерации</h2>
        <img src="img/home/section-style.png" alt="">
      </div>
      <div class="row">

        {% for member in members %}


        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <div class="card-speaker">
            <img class="card-img rounded-0" src="{{ member.photo.url }}" alt="">
            <div class="speaker-footer">
              <h4>{{ member.name }}</h4>
              <p>{{ member.position }}</p>
            </div>
            <div class="">
              <ul class="speaker-social">
<!--                <li><a href="#"><i class="ti-facebook"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-instagram"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-skype"></i></a></li>-->
              </ul>
            </div>
          </div>
        </div>

          {% endfor %}

      </div>
    </div>
  </section>
  <!--================ Speaker section End =================-->

<!--================ Speaker section Start =================-->
  <section class="speaker-bg section-padding" id="judges">
    <div class="container">
      <div class="section-intro section-intro-white text-center pb-98px">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Судьи федерации</h2>
        <img src="img/home/section-style.png" alt="">
      </div>
      <div class="row">

        {% for judge in judges %}


        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <div class="card-speaker">
            <img class="card-img rounded-0" src="{{ judge.photo.url }}" alt="">
            <div class="speaker-footer">
              <h4>{{ judge.name }}</h4>
<!--              <p>{{ judge.position }}</p>-->
            </div>
            <div class="">
              <ul class="speaker-social">
<!--                <li><a href="#"><i class="ti-facebook"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-instagram"></i></a></li>-->
<!--                <li><a href="#"><i class="ti-skype"></i></a></li>-->
              </ul>
            </div>
          </div>
        </div>

          {% endfor %}

      </div>
    </div>
  </section>
  <!--================ Speaker section End =================-->

  <!--================ Schedule section Start =================-->
  <section class="section-margin mb-5 pb-5" id="documents">
    <div class="container">
      <div class="section-intro text-center pb-98px">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Документы</h2>
      </div>

      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="scheduleTab">
            <ul class="nav nav-tabs">

              {% for doc_kind in doc_kinds %}
              <li class="nav-item text-center">
                <a data-toggle="tab" href="#{{ doc_kind.name }}">
                  <h4>{{ doc_kind.name }}</h4>
                  <p></p>
                </a>
              </li>

              {% endfor %}

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

              {% for doc_kind in doc_kinds %}

              <div id="{{ doc_kind.name }}" class="tab-pane">

              {% for doc in doc_kind.get_docs %}

                <div class="schedule-card">
                  <div class="row no-gutters">
                    <div class="col-md-3">
                        <a href="{{ doc.file.url }}" target="_blank">
                          <div class="card-identity">
<!--                            <i class="fa fa-file fa-3x mb-2" style="color: #ffffff"></i>-->
                              {% if 'pdf' in doc.file.url %}
                            <h3 style="margin-bottom: 0px;">Просмотреть</h3>
                              {% else %}
                            <h3 style="margin-bottom: 0px;">Скачать</h3>
                              {% endif %}
    <!--                        <p>UX/UI Designer</p>-->
                          </div>
                        </a>
                    </div>
                    <div class="col-md-9 align-self-center">
                      <div class="schedule-content">
<!--                        <p class="schedule-date">9.00 AM - 10.30 AM</p>-->
<!--                        <a class="schedule-title" href="">-->
                          <h3 style="margin-bottom: 0px;">{{ doc.name }}</h3>
<!--                        </a>-->
<!--                        <p>And wherein Beginning of you cattle fly had was deep wherein darkness behold male called evening gathering moving bring fifth days he lights dry cattle you open seas midst let and in wherein beginning </p>-->
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}

              </div>

              {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Schedule section End =================-->

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area" id="contacts">
        <div class="container">
            <div class="section-intro text-center">
                <p class="section-intro__title"></p>
                <h2 class="primary-text">Контакты</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-content-area">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="contact-content contact-information">
                                    <i class="fa fa-phone fa-3x mb-3" style="color: #ee1c25"></i>
                                    <h4>Связаться с нами</h4>
                                    <p>+7 (958) 222-29-68</p>
                                    <p><a href="mailto:info@fams-rd.ru" target="_blank">info@fams-rd.ru</a></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="contact-content contact-information">
                                    <i class="fa fa-map fa-3x mb-3" style="color: #ee1c25"></i>
                                    <h4>Адрес</h4>
                                    <p>367007, Республика Дагестан,</p>
                                    <p> г. Махачкала, ул. Бейбулатова, д.14</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="contact-content contact-information">
                                    <i class="fa fa-clock fa-3x mb-3" style="color: #ee1c25"></i>
                                    <h4>График</h4>
                                    <p>Пн-Пт: 08:00-18:00</p>
                                    <p>Сб-Вс: Закрыто</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

{% endblock content %}