{% extends 'base.html' %}

{% load static %}

{% block title %} Галерея {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}
  
<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner hero-banner-sm">-->
<!--    <div class="container text-center">-->
<!--      <h2>Event Gallery</h2>-->
<!--      <nav aria-label="breadcrumb" class="banner-breadcrumb">-->
<!--        <ol class="breadcrumb">-->
<!--          <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--          <li class="breadcrumb-item active" aria-current="page">Gallery</li>-->
<!--        </ol>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->


  <!--================ Gallery section Start =================-->
  <section class="section-padding--large gallery-area">
    <div class="container">
      <div class="row no-gutters">

        {% for photo in photos %}

        <div class="col-sm-6 col-md-4">
          <a href="{{ photo.image.url }}" class="img-gal">
            <div class="single-imgs relative">				
              <img class="card-img rounded-0" src="{{ photo.image.url }}" alt="" style="height: 260px;">
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-icon">
                    <i class="ti-plus"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}


      </div>
    </div>
  </section>
  <!--================ Gallery section End =================-->

{% endblock content %}