{% extends 'base.html' %}

{% load static %}

{% block title %} Федерация автомотоспорта Республики Дагестан - ФАМС РД {% endblock title %}

{% block description %}{% endblock description %}


<!-- Мета код для поисковика Яндекс -->
{% block meta_yandex_and_google %}

    <meta name="yandex-verification" content="ff7346863820bc02" />
    <meta name="google-site-verification" content="c-SS43poGgcYLIUpyt1WYzPbpHcqATNmmQWmdL82EbY" />

{% endblock meta_yandex_and_google %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/old-template.css' %}">
  <link rel="stylesheet" href="{% static 'css/my-style.css' %}">
{% endblock css %}

{% block content %}

<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner">-->
<!--    <div class="container text-center">-->
<!--      &lt;!&ndash;<span class="hero-banner-icon"><i class="flaticon-sing"></i></span>&ndash;&gt;-->
<!--      <p></p>-->
<!--      <h1></h1>-->
<!--      &lt;!&ndash;<a class="button button-header" href="#">РЕГИСТРАЦИЯ</a>&ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->


    <!-- ##### Latest News Area Start ##### -->
    <section class="latest-sermons-area section-padding-0-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h1 style="color: #c92f2f; margin-bottom: 40px;"></h1>
                        <h2>Новости</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                {% for n in latest_news %}
                <!-- Single Latest News -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="single-latest-sermons mb-100">
                        <a href="{{ n.get_absolute_url }}">
                            <div class="sermons-thumbnail">
                                <img src="{{ n.image.url }}" alt="">
                                <!-- Date -->
                                <div class="sermons-date">
                                    <h6><span>{{ n.pub_date|date:'d' }}</span>{{ n.pub_date|date:'M' }}</h6>
                                </div>
                            </div>
                            <div class="sermons-content">
                                <h4>{{ n.title }}</h4>
                                <div class="sermons-meta-data">
                                    <p class="post-excerpt">{{ n.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- ##### Latest Sermons Area End ##### -->

  <!--================ Join section Start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">О федерации</h2>
        <img src="img/home/section-style.png" alt="">
      </div>


      <div class="d-lg-flex justify-content-center">
        <div class="card-feature mb-5 mb-lg-0" style="max-width: 100%">
          <h3></h3>
          <p style="font-size: 18px; font-weight: 300;">Региональная общественная организация «Федерация автомобильного и мотоциклетного спорта Республики Дагестан» – это сообщество любителей активной езды на специальных выделенных под эти цели трассах.
Основная деятельность Федерации развитие автомобильного и мотоциклетного спорта в Республике Дагестан и за ее пределами, а также развитие автомобильного и мотоциклетного туризма Республики Дагестан.</p>
        </div>

      </div>
      <div class="row mt-5">
        <div class="col-12 text-center">
          <a class="button mb-2" href="{% url 'federation' %}#about">Подробнее</a>
        </div>
      </div>
    </div>
  </section>
  <!--================ Join section End =================-->


  <!--================ Blog section Start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Участникам Федерации</h2>
        <img src="img/home/section-style.png" alt="">
      </div>
      <div class="owl-theme owl-carousel blogCarousel pb-xl-1">
      {% for kind in race_kinds %}

        <div class="card-blog">
          <img class="card-img" src="{{ kind.photo.url }}" alt="">
          <div class="blog-body text-center" style="padding: 20px 30px;">
            <a href="{% url 'race_kinds' %}">
              <h3 style="margin-bottom: 0px;">{{ kind.name }}<br class="d-none d-xl-block"></h3>
            </a>
<!--            <ul class="blog-info">-->
<!--              <li><a href="#"><i class="ti-comments-smiley"></i> 03 Feb, 2019</a></li>-->
<!--              <li><a href="#"><i class="ti-time"></i> No Comment</a></li>-->
<!--            </ul>-->
          </div>
        </div>

      {% endfor %}

      </div>
      <div class="row mt-5">
        <div class="col-12 text-center">
          <a class="button mb-2" href="{% url 'race_kinds' %}#how-become-racer">Хочу стать участником</a>
        </div>
      </div>
    </div>
  </section>
  <!--================ Blog section End =================-->


  <!--================ Partner section Start =================-->
  <section class="section-padding--small sponsor-bg">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Партнеры</h2>
        <img src="img/home/section-style.png" alt="">
      </div>

      <div class="sponsor-wrapper sponsor-wrapper--small">
        <h3 class="sponsor-title"></h3>
        <div class="row justify-content-center">

          {% for partner in partners %}

          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <a href="{{ partner.url }}">
              <div class="sponsor-single">
                <img class="img-fluid" src="{{ partner.logo.url }}" alt="">
              </div>
            </a>
            <h3 style="margin-top: 10px">{{ partner.name }}</h3>
          </div>

          {% endfor %}

        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a class="button mb-2" href="{% url 'partners' %}#how-become-partner">Хочу стать партнером</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Partner section End =================-->


  <!--================ Sponsor section Start =================-->
  <section class="section-padding--small ">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Спонсоры</h2>
      </div>

      <div class="sponsor-wrapper sponsor-wrapper--small">
        <h3 class="sponsor-title"></h3>
        <div class="row justify-content-center mb-5">
          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <h3 style="margin-top: 15px; margin-bottom: 15px;">Генеральный спонсор</h3>
            <a href="http://electron-sbyt.ru/">
              <div class="sponsor-single" style="height: 200px;">
                <img class="img-fluid" src="{% static 'img/general_sponsor/electron_logo.png' %}" alt="" style="padding: 15px;">
              </div>
            </a>
            <h3 style="margin-top: 15px">Электрон</h3>
          </div>
        </div>

        <div class="row justify-content-center">

          {% for sponsor in sponsors %}

          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <a href="{{ sponsor.url }}">
              <div class="sponsor-single">
                <img class="img-fluid" src="{{ sponsor.logo.url }}" alt="">
              </div>
            </a>
            <h3 style="margin-top: 10px">{{ sponsor.name }}</h3>
          </div>

          {% endfor %}

        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a class="button mb-2" href="{% url 'sponsors' %}#how-become-sponsor">Хочу стать спонсором</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Sponsor section End =================-->


{% endblock content %}