{% extends 'base.html' %}

{% load static %}

{% block title %} Новости {% endblock title %}

{% block description %}{% endblock description %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/old-template.css' %}">
{% endblock css %}


{% block content %}

<!--    &lt;!&ndash; ##### Breadcrumb Area Start ##### &ndash;&gt;-->
<!--    <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/bg-img/bg-speed.jpg' %});">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; Section Heading &ndash;&gt;-->
<!--                <div class="col-12">-->
<!--                    <div class="section-heading text-left white">-->
<!--                        <h1 style="color: #ffffff; font-size: 36px; text-transform: uppercase;">Новости</h1>-->
<!--                        <p></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; ##### Breadcrumb Area End ##### &ndash;&gt;-->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Search Area -->
                <div class="col-10 col-lg-4 offset-lg-8 offset-1">
                    <div class="post-sidebar-area">
                        <div class="single-widget-area">
                            <div class="search-form">
                                <form action="#" method="get">
                                    <input type="search" name="q" placeholder="Поиск по заголовку...">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Blog Post Area -->
                <div class="col-12 col-lg-12">
                    <div class="row">

                        {% for n in news %}
                        <!-- Single Latest News -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-latest-sermons mb-100">
                                <a href="{{ n.get_absolute_url }}">
                                    <div class="sermons-thumbnail">
                                        <img src="{{ n.image.url }}" alt="">
                                        <!-- Date -->
                                        <div class="sermons-date">
                                            <h6><span>{{ n.pub_date|date:'d' }}</span>{{ n.pub_date|date:'M' }}</h6>
                                        </div>
                                    </div>
                                    <div class="sermons-content">
                                        <h4>{{ n.title }}</h4>
                                        <div class="sermons-meta-data">
                                            <p class="post-excerpt">{% autoescape off %}{{ n.text|striptags|truncatechars:110 }}{% endautoescape %}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ q }}"><i class="fa fa-angle-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ q }}">{{ page_obj.previous_page_number }}</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}&q={{ q }}">{{ page_obj.number }}</a></li>
                                {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ q }}">{{ page_obj.next_page_number }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ q }}"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock content %}