{% extends 'base.html' %}

{% load static %}

{% block title %} {{ news.title }} {% endblock title %}

{% block description %}{% endblock description %}

{% block content %}

  
<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner hero-banner-sm">-->
<!--    <div class="container text-center">-->
<!--      <h2></h2>-->
<!--      <nav aria-label="breadcrumb" class="banner-breadcrumb">-->
<!--        <ol class="breadcrumb">-->
<!--          <li class="breadcrumb-item"><a href="#"></a></li>-->
<!--          <li class="breadcrumb-item active" aria-current="page"></li>-->
<!--        </ol>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->


  <!--================Blog Area =================-->
	<section class="blog_area single-post-area bg-gray">
			<div class="container" style="padding: 25px;">
					<div class="row justify-content-center" style="padding-bottom: 30px; padding-top: 30px; background-color: #ffffff; box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.07);">
							<div class="col-lg-10 col-md-12 posts-list">
									<div class="single-post">
                                        <div class="feature-img">
                                                <img class="img-fluid" src="{{ news.image.url }}" alt="">
                                        </div>
                                        <div class="blog_details">
                                            <h2>{{ news.title }}</h2>
                                            <ul class="blog-info-link mt-3 mb-4">
                                              <li><a href="#"><i class="far fa-calendar"></i>{{ news.pub_date }}</a></li>
                                            </ul>
                                            <p class="excert">{% autoescape off %}{{ news.text }}{% endautoescape %}</p>
                                        </div>
                                    </div>
                                  <div class="navigation-top">
                                    <div class="d-sm-flex justify-content-left text-left">
                                      <ul class="social-icons">
                                        <li><a href="https://www.youtube.com/channel/UCarlt2RaIkCiQpxDIzkUlfg"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="https://instagram.com/fams_rd"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://facebook.com/famsrd/"><i class="fab fa-facebook-f"></i></a></li>
                                      </ul>
                                    </div>
                                  </div>
                    </div>
                </div>
			</div>
	</section>
	<!--================Blog Area =================-->

{% endblock content %}