{% extends 'base.html' %}

{% load static %}

{% block title %} Партнеры {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner hero-banner-sm">-->
<!--    <div class="container text-center">-->
<!--&lt;!&ndash;      <h2>Event Gallery</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <nav aria-label="breadcrumb" class="banner-breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;        <ol class="breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item active" aria-current="page">Gallery</li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ol>&ndash;&gt;-->
<!--&lt;!&ndash;      </nav>&ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->

  <!--================ Partner section Start =================-->
  <section class="section-padding--small sponsor-bg">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Наши партнеры</h2>
        <img src="img/home/section-style.png" alt="">
      </div>

      <div class="sponsor-wrapper sponsor-wrapper--small">
        <h3 class="sponsor-title"></h3>
        <div class="row justify-content-center">

          {% for partner in partners %}

          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <a href="{{ partner.url }}">
              <div class="sponsor-single">
                <img class="img-fluid" src="{{ partner.logo.url }}" alt="">
              </div>
            </a>
            <h3 style="margin-top: 10px">{{ partner.name }}</h3>
          </div>

          {% endfor %}

        </div>
<!--        <div class="row mt-5">-->
<!--          <div class="col-12 text-center">-->
<!--            <a class="button mb-2" href="#">Хочу стать партнером</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </section>
  <!--================ Partner section End =================-->

<!--================ PriceTable section Start =================-->
  <section class="section-padding bg-gray" id="how-become-partner">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 mb-4 mb-lg-0">
          <div class="text-center card-priceTable">
            <div class="priceTable-header">
              <h3>Как стать партнером?</h3>
            </div>
            <ul class="priceTable-list text-left">
              <li>
                <span class="position">Шаг 1. Ознакомиться с <a class="how-become-link" href="{% static 'documents/Regulation_for_partners.pdf' %}" target="_blank">РЕГЛАМЕНТОМ ФЕДЕРАЦИИ</a></span>
              </li>
              <li>
                <span class="position">Шаг 2. Подготовить заявку в соответсвии с требованиями указанными в регламенте (см. раздел "Программа лояльности")</span>
              </li>
              <li>
                <span class="position">Шаг 3. Дождаться решения о принятии заявителя в качестве участника программы лояльности</span>
              </li>
            </ul>
            <div class="priceTable-footer">
              <a class="button" href="{% url 'federation' %}#documents">Документы для партнерства</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--================ PriceTable section End =================-->

{% endblock content %}