{% extends 'base.html' %}

{% load static %}

{% block title %} Участникам {% endblock title %}

{% block description %}{% endblock description %}


{% block content %}

<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner hero-banner-sm">-->
<!--    <div class="container text-center">-->
<!--&lt;!&ndash;      <h2>Event Gallery</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <nav aria-label="breadcrumb" class="banner-breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;        <ol class="breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item active" aria-current="page">Gallery</li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ol>&ndash;&gt;-->
<!--&lt;!&ndash;      </nav>&ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->

  <!--================ Blog section Start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Мероприятия</h2>
        <img src="img/home/section-style.png" alt="">
      </div>
      <div class="row pb-xl-1">

      {% for kind in race_kinds %}

        <div class="col-lg-3 col-md-4 col-sm-12">
          <button type="button" data-target="#modal-race-list{{ kind.id }}" data-toggle="modal" style="border: none; padding: 0px;">
            <div class="card-blog">
              <img class="card-img" src="{{ kind.photo.url }}" alt="">
              <div class="blog-body text-center" style="padding: 20px 30px;">
                <a href="#">
                  <h3 style="margin-bottom: 0px;">{{ kind.name }}<br class="d-none d-xl-block"></h3>
                </a>
    <!--            <ul class="blog-info">-->
    <!--              <li><a href="#"><i class="ti-comments-smiley"></i> 03 Feb, 2019</a></li>-->
    <!--              <li><a href="#"><i class="ti-time"></i> No Comment</a></li>-->
    <!--            </ul>-->
              </div>
            </div>
          </button>
        </div>

              <!-- The Modal -->
        <div class="modal fade" id="modal-race-list{{ kind.id }}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 0px;">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Мероприятия</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane" style="display: block;">

                        {% for race in kind.get_races %}

                        <div class="schedule-card">
                          <div class="row no-gutters">
                            <div class="col-md-5">
                              <div class="card-identity" style="padding: 10px 5px;">
                                <h3 style="margin-bottom: 0px; font-size: 17px;">{{ race.date }}</h3>
                              </div>
                            </div>
                            <div class="col-md-7 align-self-center">
                              <div class="schedule-content">
                                  <h3 style="margin-bottom: 0px; font-size: 17px;">{{ race.name }}</h3>
                              </div>
                            </div>
                              <div class="col-md-12 align-self-center">
                              <div class="schedule-content text-center" style="background-color: #008db7">
                                  <h3 style="margin-bottom: 0px; font-size: 17px; color: #ffffff">{{ race.location }}</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% endfor %}

                   </div>
                 </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="border-radius: 0px;">Закрыть</button>
              </div>

            </div>
          </div>
        </div>


      {% endfor %}

      </div>
    </div>
  </section>
  <!--================ Blog section End =================-->

<!--================ PriceTable section Start =================-->
  <section class="section-padding bg-gray" id="how-become-racer">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 mb-4 mb-lg-0">
          <div class="text-center card-priceTable">
            <div class="priceTable-header">
              <h3>Как стать участником?</h3>
            </div>
            <ul class="priceTable-list text-left">
              <li>
                <span class="position">Шаг 1. Ознакомиться с <a class="how-become-link" href="{% static 'documents/Regulation_for_racers.pdf' %}" target="_blank">РЕГЛАМЕНТОМ ФЕДЕРАЦИИ</a></span>
              </li>
              <li>
                <span class="position">Шаг 2. Заполнить бланки документов</span>
              </li>
              <li>
                <span class="position">Шаг 3. Предоставить оригиналы заполненных бланков и необходимых копий документов в офис Федерации</span>
              </li>
              <li>
                <span class="position">Шаг 4. Получить сезонную карту и уплатить сезонный абонемент, соответствующий типу сезонной карты</span>
              </li>
            </ul>
            <div class="priceTable-footer">
              <a class="button" href="{% url 'federation' %}#documents">Документы для участников</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--================ PriceTable section End =================-->

{% endblock content %}