{% extends 'base.html' %}

{% load static %}

{% block title %} Спонсоры {% endblock title %}

{% block description %}{% endblock description %}

{% block content %}

<!--  &lt;!&ndash;================Hero Banner Area Start =================&ndash;&gt;-->
<!--  <section class="hero-banner hero-banner-sm">-->
<!--    <div class="container text-center">-->
<!--&lt;!&ndash;      <h2>Event Gallery</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <nav aria-label="breadcrumb" class="banner-breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;        <ol class="breadcrumb">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="breadcrumb-item active" aria-current="page">Gallery</li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ol>&ndash;&gt;-->
<!--&lt;!&ndash;      </nav>&ndash;&gt;-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash;================Hero Banner Area End =================&ndash;&gt;-->

  <!--================ Sponsor section Start =================-->
  <section class="section-padding--small sponsor-bg">
    <div class="container">
      <div class="section-intro text-center">
        <p class="section-intro__title"></p>
        <h2 class="primary-text">Наши спонсоры</h2>
        <img src="img/home/section-style.png" alt="">
      </div>

      <div class="sponsor-wrapper sponsor-wrapper--small">
        <h3 class="sponsor-title"></h3>
        <div class="row justify-content-center mb-5">

          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <h3 style="margin-top: 15px; margin-bottom: 15px;">Генеральный спонсор</h3>
            <a href="http://electron-sbyt.ru/">
              <div class="sponsor-single" style="height: 200px;">
                <img class="img-fluid" src="{% static 'img/general_sponsor/electron_logo.png' %}" alt="" style="padding: 15px;">
              </div>
            </a>
            <h3 style="margin-top: 15px">Электрон</h3>
          </div>
        </div>
        <div class="row justify-content-center">

          {% for sponsor in sponsors %}

          <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
            <a href="{{ sponsor.url }}">
              <div class="sponsor-single">
                <img class="img-fluid" src="{{ sponsor.logo.url }}" alt="">
              </div>
            </a>
            <h3 style="margin-top: 10px">{{ sponsor.name }}</h3>
          </div>

          {% endfor %}

        </div>
<!--        <div class="row mt-5">-->
<!--          <div class="col-12 text-center">-->
<!--            <a class="button mb-2" href="#">Хочу стать спонсором</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </section>
  <!--================ Sponsor section End =================-->

<!--================ PriceTable section Start =================-->
  <section class="section-padding bg-gray" id="how-become-sponsor">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12 mb-4 mb-lg-0">
          <div class="text-center card-priceTable">
            <div class="priceTable-header">
              <h3>Как стать спонсором?</h3>
            </div>
            <ul class="priceTable-list text-left">
              <li>
                <span class="position">Шаг 1. Ознакомиться с <a class="how-become-link" href="{% static 'documents/Regulation_for_sponsors.pdf' %}" target="_blank">РЕГЛАМЕНТОМ ФЕДЕРАЦИИ</a></span>
              </li>
              <li>
                <span class="position"></span>
              </li>
              <li>
                <span class="position"></span>
              </li>
              <li>
                <span class="position"></span>
              </li>
            </ul>
            <div class="priceTable-footer">
              <a class="button" href="{% url 'federation' %}#documents">Документы для спонсорства</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--================ PriceTable section End =================-->

{% endblock content %}